<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/dario-avatar.jpg" alt="dario avatar">
<p>
  I'm a Senior SDET from Karlovac, Croatia, bringing over 8 years of rich experience in test automation and quality assurance. My expertise lies in a broad range of frameworks including Playwright, Selenium WebDriver, CodeceptJS, Puppeteer, and WebdriverIO, complemented by a solid foundation in Java, JavaScript, and TypeScript.

Driven by the challenge of uncovering edge cases, I excel in enhancing software quality, focusing on meticulous detail and innovative problem-solving.

In my career, I've demonstrated a commitment to continuous learning and adapting, ensuring that my contributions not only meet but exceed the evolving demands of the tech industry.</p>

<%- include("partials/footer.ejs") %>