<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>An experienced and innovative Senior QA Automation Engineer with a passion for quality assurance and a strong drive for continuous improvement. With more than 8 years of experience in the quality assurance realm I have a proven track record of helping SaaS companies establish robust test automation environments and enhance their automated testing coverage. 
  </p>
  <p>
    With a meticulous attention to detail and a scientific approach to my work, I excel in troubleshooting and providing effective solutions. As a collaborative team player, I constantly strive to improve team performance both functionally and psychologically. I am an avid reader with an open mind, always seeking knowledge and growth. I approach quality assurance with passion, dedication, and a focus on creating better working environments.</p>

  <%- include("partials/footer.ejs") %>